<a href="https://colab.research.google.com/github/Pradhiksha05/Credit-Card-Risk-Classification/blob/main/credit_card_risk_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [3]:
data=pd.read_csv("/content/payment_data.csv")

In [4]:
data.head()

,id,OVD_t1,OVD_t2,OVD_t3,OVD_sum,pay_normal,prod_code,prod_limit,update_date,new_balance,highest_balance,report_date
0,58987402,0,0,0,0,1,10,16500.0,04/12/2016,0.0,NaN,NaN
1,58995151,0,0,0,0,1,5,NaN,04/12/2016,588720.0,491100.0,NaN
2,58997200,0,0,0,0,2,5,NaN,04/12/2016,840000.0,700500.0,22/04/2016
3,54988608,0,0,0,0,3,10,37400.0,03/12/2016,8425.2,7520.0,25/04/2016
4,54987763,0,0,0,0,2,10,NaN,03/12/2016,15147.6,NaN,26/04/2016

In [5]:
data.columns

Index(['id', 'OVD_t1', 'OVD_t2', 'OVD_t3', 'OVD_sum', 'pay_normal',
       'prod_code', 'prod_limit', 'update_date', 'new_balance',
       'highest_balance', 'report_date'],
      dtype='object')

In [6]:
data.shape

(8250, 12)

In [7]:
data1=pd.read_csv("/content/customer_data.csv")

In [8]:
df=pd.merge(data,data1)

In [9]:
df

,id,OVD_t1,OVD_t2,OVD_t3,OVD_sum,pay_normal,prod_code,prod_limit,update_date,new_balance,...,fea_2,fea_3,fea_4,fea_5,fea_6,fea_7,fea_8,fea_9,fea_10,fea_11
0,58987402,0,0,0,0,1,10,16500.0,04/12/2016,0.0,...,1241.0,3,62000.0,2,15,9,95,4,60023,1.0
1,58987402,0,0,0,0,1,0,NaN,04/10/2016,42000.0,...,1241.0,3,62000.0,2,15,9,95,4,60023,1.0
2,58987402,0,0,0,0,2,10,113300.0,13/02/2016,7938.0,...,1241.0,3,62000.0,2,15,9,95,4,60023,1.0
3,58987402,0,0,0,0,9,10,NaN,27/07/2015,30039.6,...,1241.0,3,62000.0,2,15,9,95,4,60023,1.0
4,58987402,0,0,0,0,1,0,NaN,07/12/2011,0.0,...,1241.0,3,62000.0,2,15,9,95,4,60023,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8245,58982397,1,0,0,30,34,10,NaN,13/01/2006,0.0,...,1293.5,1,500000.0,2,4,9,105,5,650005,1.0
8246,58982397,0,0,0,0,1,10,NaN,20/12/2004,-1.2,...,1293.5,1,500000.0,2,4,9,105,5,650005,1.0
8247,58982397,0,0,0,0,23,10,205700.0,06/05/2004,0.0,...,1293.5,1,500000.0,2,4,9,105,5,650005,1.0
8248,58982397,0,0,0,0,3,10,NaN,25/10/2003,0.0,...,1293.5,1,500000.0,2,4,9,105,5,650005,1.0
8249,58982397,0,0,35,5730,0,10,NaN,03/07/1999,0.0,...,1293.5,1,500000.0,2,4,9,105,5,650005,1.0

In [10]:
res = df.drop(['fea_2','fea_1','fea_3','fea_4','fea_5','fea_6','fea_7','fea_8','fea_9','fea_10','fea_11'],axis=1)

In [11]:
res.isnull().sum()

id                    0
OVD_t1                0
OVD_t2                0
OVD_t3                0
OVD_sum               0
pay_normal            0
prod_code             0
prod_limit         6118
update_date          26
new_balance           0
highest_balance     409
report_date        1114
label                 0
dtype: int64

In [12]:
x=res['prod_limit'].mean()
res['prod_limit'].fillna(x, inplace = True)

In [13]:
res.isnull().sum()

id                    0
OVD_t1                0
OVD_t2                0
OVD_t3                0
OVD_sum               0
pay_normal            0
prod_code             0
prod_limit            0
update_date          26
new_balance           0
highest_balance     409
report_date        1114
label                 0
dtype: int64

In [14]:
res.duplicated().sum()

91

In [15]:
res.drop_duplicates(inplace=True)

In [16]:
res.duplicated().sum()

0

In [17]:
res.shape

(8159, 13)

In [18]:
res

,id,OVD_t1,OVD_t2,OVD_t3,OVD_sum,pay_normal,prod_code,prod_limit,update_date,new_balance,highest_balance,report_date,label
0,58987402,0,0,0,0,1,10,16500.000000,04/12/2016,0.0,NaN,NaN,0
1,58987402,0,0,0,0,1,0,85789.702205,04/10/2016,42000.0,35500.0,NaN,0
2,58987402,0,0,0,0,2,10,113300.000000,13/02/2016,7938.0,7115.0,24/03/2016,0
3,58987402,0,0,0,0,9,10,85789.702205,27/07/2015,30039.6,48061.0,04/08/2016,0
4,58987402,0,0,0,0,1,0,85789.702205,07/12/2011,0.0,150500.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8245,58982397,1,0,0,30,34,10,85789.702205,13/01/2006,0.0,40863.0,26/04/2009,0
8246,58982397,0,0,0,0,1,10,85789.702205,20/12/2004,-1.2,1052.0,06/04/2006,0
8247,58982397,0,0,0,0,23,10,205700.000000,06/05/2004,0.0,27287.0,12/01/2013,0
8248,58982397,0,0,0,0,3,10,85789.702205,25/10/2003,0.0,6380.0,20/03/2005,0
8249,58982397,0,0,35,5730,0,10,85789.702205,03/07/1999,0.0,31639.0,06/04/2011,0

In [19]:
res['label'].value_counts()

0    6784
1    1375
Name: label, dtype: int64

In [36]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix

In [37]:
data1 = res.drop(['report_date','update_date','highest_balance'],axis=1)

In [38]:
data1

,id,OVD_t1,OVD_t2,OVD_t3,OVD_sum,pay_normal,prod_code,prod_limit,new_balance,label
0,58987402,0,0,0,0,1,10,16500.000000,0.0,0
1,58987402,0,0,0,0,1,0,85789.702205,42000.0,0
2,58987402,0,0,0,0,2,10,113300.000000,7938.0,0
3,58987402,0,0,0,0,9,10,85789.702205,30039.6,0
4,58987402,0,0,0,0,1,0,85789.702205,0.0,0
...,...,...,...,...,...,...,...,...,...,...
8245,58982397,1,0,0,30,34,10,85789.702205,0.0,0
8246,58982397,0,0,0,0,1,10,85789.702205,-1.2,0
8247,58982397,0,0,0,0,23,10,205700.000000,0.0,0
8248,58982397,0,0,0,0,3,10,85789.702205,0.0,0
8249,58982397,0,0,35,5730,0,10,85789.702205,0.0,0

 Logistic Regression

In [39]:
X = data1.drop('label', axis=1)
y = data1['label']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

model = LogisticRegression()
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)
conf_matrix = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print("Confusion Matrix:\n", conf_matrix)
print("\nClassification Report:\n", classification_rep)

Confusion Matrix:
 [[1363    0]
 [ 268    1]]

Classification Report:
               precision    recall  f1-score   support

           0       0.84      1.00      0.91      1363
           1       1.00      0.00      0.01       269

    accuracy                           0.84      1632
   macro avg       0.92      0.50      0.46      1632
weighted avg       0.86      0.84      0.76      1632

In [40]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8357843137254902

Support Vector Machine

In [41]:
from sklearn.svm import SVC

In [42]:
X = data1.drop('label', axis=1)
y = data1['label']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)


svm_classifier = SVC(kernel='linear', C=1.0)
svm_classifier.fit(X_train_scaled, y_train)


y_pred = svm_classifier.predict(X_test_scaled)


accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy:.2f}")
print("Classification Report:\n", classification_rep)

Accuracy: 0.84
Classification Report:
               precision    recall  f1-score   support

           0       0.84      1.00      0.91      1363
           1       0.00      0.00      0.00       269

    accuracy                           0.84      1632
   macro avg       0.42      0.50      0.46      1632
weighted avg       0.70      0.84      0.76      1632

In [43]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.835171568627451

Gradient Boosting

In [44]:
from sklearn.ensemble import GradientBoostingClassifier

In [45]:
X = data1.drop('label', axis=1)
y = data1['label']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
model.fit(X_train, y_train)


y_pred = model.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("Confusion Matrix:\n", conf_matrix)
print("Classification Report:\n", class_report)

Accuracy: 0.8480392156862745
Confusion Matrix:
 [[1362    1]
 [ 247   22]]
Classification Report:
               precision    recall  f1-score   support

           0       0.85      1.00      0.92      1363
           1       0.96      0.08      0.15       269

    accuracy                           0.85      1632
   macro avg       0.90      0.54      0.53      1632
weighted avg       0.86      0.85      0.79      1632

In [46]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8480392156862745

KNN

In [47]:
from sklearn.neighbors import KNeighborsClassifier

In [48]:
X = data1.drop('label', axis=1)
y = data1['label']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)


k = 5
knn_classifier = KNeighborsClassifier(n_neighbors=k)


knn_classifier.fit(X_train_scaled, y_train)


y_pred = knn_classifier.predict(X_test_scaled)


accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

classification_rep = classification_report(y_test, y_pred)
print("Classification Report:\n", classification_rep)

Accuracy: 0.8051470588235294
Classification Report:
               precision    recall  f1-score   support

           0       0.84      0.95      0.89      1363
           1       0.22      0.07      0.11       269

    accuracy                           0.81      1632
   macro avg       0.53      0.51      0.50      1632
weighted avg       0.74      0.81      0.76      1632

Random Forest

In [49]:
from sklearn.ensemble import RandomForestClassifier

In [50]:
X = data1.drop('label', axis=1)  # Replace 'label_column_name' with your actual label column name
y = data1['label']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


clf = RandomForestClassifier(n_estimators=100, random_state=42)


clf.fit(X_train, y_train)


y_pred = clf.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("Classification Report:\n", classification_rep)

Accuracy: 0.8345588235294118
Classification Report:
               precision    recall  f1-score   support

           0       0.85      0.97      0.91      1363
           1       0.49      0.14      0.22       269

    accuracy                           0.83      1632
   macro avg       0.67      0.56      0.56      1632
weighted avg       0.79      0.83      0.79      1632

Decision Tree

In [54]:
from sklearn.tree import DecisionTreeClassifier

In [55]:
X = data1.drop('label', axis=1)
y = data1['label']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


clf = DecisionTreeClassifier(random_state=42)


clf.fit(X_train, y_train)


y_pred = clf.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.79

Neural Network

In [57]:
import tensorflow as tf

In [58]:
X = data1.drop('label', axis=1).values
y = data1['label'].values


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)


model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(1, activation='sigmoid')
])


model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])


model.fit(X_train, y_train, epochs=10, batch_size=64, validation_split=0.2)


loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss:.4f}, Test Accuracy: {accuracy:.4f}")

Epoch 1/10
82/82 [==============================] - 2s 8ms/step - loss: 0.5365 - accuracy: 0.8079 - val_loss: 0.5023 - val_accuracy: 0.8239
Epoch 2/10
82/82 [==============================] - 0s 4ms/step - loss: 0.4738 - accuracy: 0.8301 - val_loss: 0.4815 - val_accuracy: 0.8239
Epoch 3/10
82/82 [==============================] - 0s 4ms/step - loss: 0.4650 - accuracy: 0.8314 - val_loss: 0.4697 - val_accuracy: 0.8224
Epoch 4/10
82/82 [==============================] - 0s 4ms/step - loss: 0.4600 - accuracy: 0.8309 - val_loss: 0.4702 - val_accuracy: 0.8239
Epoch 5/10
82/82 [==============================] - 0s 4ms/step - loss: 0.4562 - accuracy: 0.8314 - val_loss: 0.4637 - val_accuracy: 0.8231
Epoch 6/10
82/82 [==============================] - 0s 4ms/step - loss: 0.4531 - accuracy: 0.8330 - val_loss: 0.4623 - val_accuracy: 0.8239
Epoch 7/10
82/82 [==============================] - 0s 3ms/step - loss: 0.4516 - accuracy: 0.8313 - val_loss: 0.4613 - val_accuracy: 0.8231
Epoch 8/10
82/82 [==============================] - 0s 3ms/step - loss: 0.4510 - accuracy: 0.8318 - val_loss: 0.4598 - val_accuracy: 0.8231
Epoch 9/10
82/82 [==============================] - 0s 3ms/step - loss: 0.4496 - accuracy: 0.8322 - val_loss: 0.4589 - val_accuracy: 0.8239
Epoch 10/10
82/82 [==============================] - 0s 3ms/step - loss: 0.4505 - accuracy: 0.8324 - val_loss: 0.4591 - val_accuracy: 0.8247
51/51 [==============================] - 0s 2ms/step - loss: 0.4467 - accuracy: 0.8352
Test Loss: 0.4467, Test Accuracy: 0.8352